{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/social/css/timeline.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/social/css/friends.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block name_user %}
    <p id="name" data-pk="1" data-type="text" data-url="/name" data-title="Nome">{{ app.user.name }}</p>
{% endblock name_user %}

{% block profession %} 
    {% if user_information.profession is not empty %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">{{ user_information.profession }}</p></h3>
        {% else %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">Adicione sua profissão</p></h3>
    {% endif %}
{% endblock %}

{% block description %}
    {% if user_information.phrase is not empty %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">{{ user_information.phrase }}</p>
    {% else %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">Conte mais sobre você!</p>
    {% endif %}

{% endblock description %}

{% block container %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel" style="color: black">
                    <div class="panel-body">
                        <h4>Publique</h4>
                        {{ form_start(form_comment) }}
                        {{ form_widget(form_comment) }}
                        {{ form_end(form_comment) }}           
                    </div>
                </div>

                {% block timeline %}

                    <div class="panel" style="color: black">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="//placehold.it/75x75" class="img-responsive pull-left"> 
                                </div>
                                <div class="col-md-10">
                                    <h5><a href="#">Jaqueline Knoux</a> postou uma nova imagem na galeria.</h5>
                                    <h6><p class="text-muted">Compartilhou 17 maio de 2014</p></h6>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="//placehold.it/600x600" class="img-thumbnail pull-left">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header">
                                        <h4><small class="pull-right">45 comentários</small> Comentários </h4>
                                    </div> 
                                    <div class="comments-list">
                                        <div class="media">
                                            <p class="pull-right"><small>5 dias atrás</small></p>
                                            <a class="media-left" href="#">
                                                <img src="http://lorempixel.com/40/40/people/1/"/>
                                            </a>
                                            <div class="media-body">

                                                <p><a href="#">Baltej Singh</a></p>
                                                Wow! this is really great.

                                                {#                                                <p><a href="#"><i style="color: #d9230f" class="fa fa-thumbs-o-up fa-lg"></i></a></p>#}
                                            </div>
                                        </div>
                                        <div class="media">
                                            <p class="pull-right"><small>5 dias atrás</small></p>
                                            <a class="media-left" href="#">
                                                <img src="http://lorempixel.com/40/40/people/2/"/>
                                            </a>
                                            <div class="media-body">

                                                <p><a href="#">Baltej Singh</a></p>
                                                Wow! this is really great.                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <hr>
                            <form>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Add a comment..">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            {% endblock timeline %}
            {% block control_timeline %}
                <div class="col-sm-1">
                    <div class="bs-callout bs-callout-default">
                        <p><a href="#">2014</a></p>
                    </div>
                    <div class="bs-callout bs-callout-default">
                        <p><a href="#">Jan</a></p>
                    </div>
                    <div class="bs-callout bs-callout-danger">
                        <p><a href="#">Fev</a></p>
                    </div>
                </div>
            {% endblock control_timeline %}

            <div class="col-sm-5">
                {% block friends %}
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <span class="title"><a href="{{ path('_friends') }}"> <i class="fa fa-users fa-fw"></i>&nbsp; Amigos</a></span> 
                            <ul class="pull-right c-controls">
                                {#                            <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="fa fa-plus fa-lg"></i></a></li>#}
                                <li><a href="#" class="hide-search" data-command="toggle-search" ><i class="fa fa-ellipsis-v fa-lg"></i></a></li>
                            </ul>
                        </div>

                        <div class="row" style="display: none;">
                            <div class="col-xs-12">
                                <div class="input-group c-search">
                                    <input type="text" class="form-control" id="contact-list-search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group" id="contact-list">

                            {% set friends = app.user.friends %}
                            {% for users in friends %}
                                {% if (loop.index0 == 0) or (loop.index0%4 == 0) %}
                                    <li class="list-group-item">
                                        <div class="row">
                                {% endif %}

                                        <div class="col-xs-12 col-sm-3">
                                            {% if users.photo is empty %}
                                            <img src="{{ asset('bundles/social/images/default_avatar.jpg') }}" alt="{{users.name}}" class="img-responsive img-responsive" />
                                            {% else %}
                                            <img src="{{ asset('/uploads/images/') ~ users.photo.name}}" alt="{{users.name}}" class="img-responsive img-responsive" />    
                                            {% endif %}
                                            <p class="text-center"><a href="#" class="text-muted"><span class="name">{{users.name}}</span></a></p>
                                        </div>
                                        

                                {% if loop.index0 > 0 and loop.index0%4 == 0 %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock friends %}
                {% block company %}
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <span class="title"><a href="#"> <i class="fa fa-truck fa-fw"></i>&nbsp; Empresas favoritas</a></span> 
                            <ul class="pull-right c-controls">
                                {#                            <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="fa fa-plus fa-lg"></i></a></li>#}
                                <li><a href="#" class="hide-search" data-command="toggle-search" ><i class="fa fa-ellipsis-v fa-lg"></i></a></li>
                            </ul>
                        </div>

                        <ul class="list-group" id="contact-list">
                            {% set companies = user_information.companies %}
                            {% for company in companies %}
                                {% if (loop.index0 == 0) or (loop.index0%4 == 0) %}
                                    <li class="list-group-item">
                                        <div class="row">
                                {% endif %}

                                        <div class="col-xs-12 col-sm-3">
                                            {% if company.user.photo is empty %}
                                            <img src="{{ asset('bundles/social/images/default_avatar.jpg') }}" alt="{{company.user.name}}" class="img-responsive img-responsive" />
                                            {% else %}
                                            <img src="{{ asset('/uploads/images/') ~ company.user.photo.name}}" alt="{{company.user.name}}" class="img-responsive img-responsive" />    
                                            {% endif %}
                                            <p class="text-center"><a href="#" class="text-muted"><span class="name">{{company.user.name}}</span></a></p>
                                        </div>
                                        

                                {% if loop.index0 > 0 and loop.index0%4 == 0 %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock company %}
                {% block gallery %}
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <span class="title"><a href="{{ path('_gallery') }}"> <i class="fa fa-picture-o fa-fw"></i>&nbsp; Galeria</a></span>
                        </div>
                        <ul class="list-group" id="contact-list" style="margin: 1px">
                            <li class="list-group-item" >
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/cats/1/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/city/1/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/sports/1/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" >
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/cats/5/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/city/3/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                    <div class="col-xs-12 col-sm-4" style="padding: 4px">
                                        <img src="http://lorempixel.com/800/800/sports/2/" alt="Scott Stevens" class="img-responsive img-thumbnail" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endblock gallery %}
            </div>
        </div>
    </div>
{% endblock container %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/social/js/profile_page.js') }}"></script>
    <script src="{{ asset('bundles/social/js/friends.js') }}"></script>
{% endblock %}