{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/social/css/friends.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/social/css/tabs.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block name_user %}
    <p id="name" data-pk="1" data-type="text" data-url="/name" data-title="Nome">{{ app.user.name }}</p>
{% endblock name_user %}

{% block profession %} 
    {% if app.user.profession is not empty %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">{{ app.user.profession }}</p></h3>
        {% else %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">Adicione sua profissão</p></h3>
    {% endif %}
{% endblock %}

{% block description %}
    {% if app.user.phrase is not empty %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">{{ app.user.phrase }}</p>
    {% else %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">Conte mais sobre você!</p>
    {% endif %}

{% endblock description %}

{% block container %}
    {{ parent() }}
    <div class="container">
        <div class="row" style="padding: 20px;">
            <div class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                70 empresas foram encontradas
            </div>
        </div>


        <div class="row">
                     <div class="col-sm-3 col-md-3 sidebar">

                <div class="mini-submenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="list-group">
                    <span href="#" class="list-group-item active">
                        Busca
                        <span class="pull-right" id="slide-submenu">
                            <i class="fa fa-search"></i>
                        </span>
                    </span>
                    <div class="list-group-item">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="palavra-chave" style="width: 230px">
                        </div>
                    </div>

                    <span href="#" class="list-group-item">
                        <span class="text-primary">
                            Categoria
                        </span>
                        <ul style="list-style-type: none; margin-left: -40px">
                            {% for category in categories %}
                                <li class="checkbox">
                                    <label>
                                        <input type="checkbox"> {{category.name}}
                                    </label>
                                </li>
                            {% endfor %}

                        </ul>
                    </span>

                </div>        
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">
                        <span class="title"><a href="#">Fornecedores</a></span> 
                    </div>
                    <h3 class="page-header text-primary" style="padding:10px">Recomendados</h3>
                    {% for r in recomendation %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                                <img data-src="holder.js/100%x100" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 150px; width: 100%; display: block;">
                                <div class="caption">
                                    <small>
                                        <a href="#"><p>{{r[0].name}}</a>
                                        <p>
                                            <i class="fa fa-thumbs-o-up"> {{r[1]}}</i><br/>
                                            <i class="glyphicon glyphicon-map-marker"></i> {{r[0].city.uf}}, {{r[0].city.name}} <br>
                                            {% for c in r[0].category %}
                                                <i class="glyphicon glyphicon-tags"></i>&nbsp; {{c.name}} <br/>
                                            {% endfor %}

                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <h3 class="page-header text-primary" style="padding:10px">Sua consulta</h3>
                    {% for company in companies %}
                        {% if (loop.index == 1) or (loop.index%4 == 0) %}
                            {#                                <li class="list-group-item">#}
                            <div class="row" style="padding: 10px;">
                            {% endif %}
                            <div class="col-sm-3 col-md-3">
                                <div class="thumbnail">
                                    <img data-src="holder.js/100%x100" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 150px; width: 100%; display: block;">
                                    <div class="caption">
                                        <small>
                                            <a href="#"><p>{{company.name}}</a>
                                            <p>
                                                {#                                                <i class="fa fa-thumbs-o-up"> {{r[1]}}</i><br/>#}
                                                <i class="glyphicon glyphicon-map-marker"></i> {{company.city.uf}}, {{company.city.name}} <br>
                                                {% for category in company.category %}
                                                    <i class="glyphicon glyphicon-tags"></i>&nbsp; {{category.name}} <br/>
                                                {% endfor %}

                                            </p>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index > 0 and loop.index%4 == 0 %}
                            </div>
                            <div class="clearfix"></div>
                            {#                                </li>#}
                        {% endif %}
                    {% endfor %}
                    {#                    </div>#}
                    <div class="col-xs-12 text-center">
                        <ul class="pagination pagination-sm ">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    {% endblock container %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/social/js/friends.js') }}"></script>
    {% endblock javascripts %}