{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/social/css/friends.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/social/css/tabs.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block name_user %}
    <p id="name" data-pk="1" data-type="text" data-url="/name" data-title="Nome">{{ app.user.name }}</p>
{% endblock name_user %}

{% block profession %} 
    {% if app.user.profession is not empty %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">{{ app.user.profession }}</p></h3>
        {% else %}
        <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">Adicione sua profissão</p></h3>
    {% endif %}
{% endblock %}

{% block description %}
    {% if app.user.phrase is not empty %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">{{ app.user.phrase }}</p>
    {% else %}
        <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">Conte mais sobre você!</p>
    {% endif %}

{% endblock description %}

{% block container %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 sidebar">

                <div class="mini-submenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="list-group">
                    <span href="#" class="list-group-item active">
                        Busca
                        <span class="pull-right" id="slide-submenu">
                            <i class="fa fa-search"></i>
                        </span>
                    </span>
                    <div class="list-group-item">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="palavra-chave" style="width: 230px">
                        </div>
                    </div>
                    <span href="#" class="list-group-item">
                        <span class="text-primary">
                            Estado
                        </span>
                        <ul style="list-style-type: none; margin-left: -40px">
                            <li class="radio">
                                <label>
                                    <input type="radio" name="states" id="states" value="AC">
                                    AC
                                </label>
                            </li>
                            <li class="radio">
                                <label>
                                    <input type="radio" name="states" id="states" value="AL">
                                    AL
                                </label>
                            </li>
                        </ul>
                    </span>
                    <span href="#" class="list-group-item">
                        <span class="text-primary">
                            Cidade
                        </span>
                        <ul style="list-style-type: none; margin-left: -40px">
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> São José dos Campos
                                </label>
                            </li>
                        </ul>
                    </span>
                    <span href="#" class="list-group-item">
                        <span class="text-primary">
                            Categoria
                        </span>
                        <ul style="list-style-type: none; margin-left: -40px">
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Aluguel de mesas
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Buffet
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Cabelo e Maquiagem
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Fotografia
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Igrejas
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Salão
                                </label>
                            </li>
                        </ul>
                    </span>
                    <span href="#" class="list-group-item">
                        <span class="text-primary">
                            Avaliação
                        </span>
                        <ul style="list-style-type: none; margin-left: -40px">
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> Todos
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> <i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox"> <i class="fa fa-star text-primary"></i>
                                </label>
                            </li>
                        </ul>

                    </span>
                </div>        
            </div>



            <div class="col-sm-9 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">
                        <span class="title"><a href="#"> <i class="fa fa-truck"></i></i>&nbsp; Fornecedores</a></span> 
                    </div>
                    <div class="row" style="padding: 20px;">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                <div class="caption">
                                    <small>
                                        <a href="#">
                                            <p>
                                                Gourmand Buffet<br/>
                                                <i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></p></a>
                                        <p>

                                            <i class="glyphicon glyphicon-map-marker"></i> SP, São José dos Campos <br>
                                            <i class="fa fa-comments"></i> &nbsp; 22<br/>
                                            <i class="glyphicon glyphicon-tags"></i> &nbsp;Buffet
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                <div class="caption">
                                    <small>
                                        <a href="#">
                                            <p>
                                                Gourmand Buffet<br/>
                                                <i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></p></a>
                                        <p>

                                            <i class="glyphicon glyphicon-map-marker"></i> SP, São José dos Campos <br>
                                            <i class="fa fa-comments"></i> &nbsp; 22<br/>
                                            <i class="glyphicon glyphicon-tags"></i> &nbsp;Buffet
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                <div class="caption">
                                    <small>
                                        <a href="#">
                                            <p>
                                                Gourmand Buffet<br/>
                                                <i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></p></a>
                                        <p>

                                            <i class="glyphicon glyphicon-map-marker"></i> SP, São José dos Campos <br>
                                            <i class="fa fa-comments"></i> &nbsp; 22<br/>
                                            <i class="glyphicon glyphicon-tags"></i> &nbsp;Buffet
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock container %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('bundles/social/js/friends.js') }}"></script>
        {% endblock javascripts %}