{% extends '::base.html.twig' %}
{% block name_user %}
    <p id="name" data-pk="1" data-type="text" data-url="/name" data-title="Nome">{{ app.user.name }}</p>
{% endblock name_user %}
{% block profession %} 
    {% if app.user.roles[0] == 'ROLE_USER'%}
        {% if app.user.profession is not empty %}
            <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">{{ app.user.profession }}</p></h3>
            {% else %}
            <h3><p class="text-primary" id="profession" data-type="text" data-pk="1" data-url="/profession" data-title="Sua profissão">Adicione sua profissão</p></h3>
        {% endif %}
    {% endif %}
{% endblock %}

{% block description %}
    {% if app.user.roles[0] == 'ROLE_USER'%}
        {% if app.user.phrase is not empty %}
            <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">{{ app.user.phrase }}</p>
        {% else %}
            <p class="text-muted text-justify" id="phrase" data-pk="1" data-type="textarea" data-url="/phrase" data-title="Descrição">Conte mais sobre você!</p>
        {% endif %}
    {% endif %}
    {% if app.user.roles[0] == 'ROLE_COMPANY' %}
        <small style="padding: 10px">
            <i class="fa fa-thumbs-o-up"> 3</i><br/>
        </small>
        <small style="padding: 10px">
            {% if app.user.city is not empty %}
                <i class="glyphicon glyphicon-map-marker"></i> &nbsp; {{app.user.city.uf}}, {{app.user.city.name}} <br/>
            {% endif %}
        </small>
        <small style="padding: 10px">
            {% for category in app.user.category %}
                <i class="glyphicon glyphicon-tags"></i> &nbsp;{{category.name}}<br/>

            {% endfor %}
        </small>
        <small style="padding: 10px">
            <i class="fa fa-envelope-o"></i> &nbsp; {{app.user.email}} <br/>
        </small>
        <small style="padding: 10px">
            <i class="fa fa-phone"></i> &nbsp; {{app.user.phone}}<br/>
        </small>
        <small style="padding: 10px">
            <i class="fa fa-globe"></i> &nbsp; {{app.user.site}}
        </small>

    {% endif %}
{% endblock description %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/social/css/tabs.css') }}" rel="stylesheet" />
{% endblock stylesheets %}
{% block container %}
    {{ parent() }}
    <style>
        .form-control {
            margin-bottom: 20px;
        }
    </style>
    <div class="modal fade modal_change_photo" id="new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nova imagem</h4>
                </div>
                <div class="modal-body">
                    <br/>
                    {{form(form_document)}}

                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title"><a href="#"> <i class="fa fa-user fa-fw"></i>&nbsp; Perfil</a></span> 
                </div>


                <div class="tabbable-panel" style="margin: 20px; border: none; padding: 0px;">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#profile" data-toggle="tab">
                                    Perfil </a>
                            </li>
                            <li>
                                <a href="#password" data-toggle="tab">
                                    Senha </a>
                            </li>
                            {% if app.user.roles[0] == 'ROLE_COMPANY' %}
                                <li>
                                    <a href="#products" data-toggle="tab">
                                        Produtos </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% if app.user.photo is empty %}
                                            <img src="{{ asset('bundles/social/images/default_avatar.jpg') }}" id="change_photo" class="img-thumbnail" />
                                        {% else %}
                                            <img src="{{ asset('/uploads/images/') ~ app.user.photo.path}}" id="change_photo" class="img-thumbnail change_photo" />    
                                        {% endif %}
                                    </div>


                                    <div class="col-md-8">
                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        {{ form_end(form) }}  
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="password">
                                <div class="row">
                                    <form action="/" method="post">
                                        <div class="form-group">
                                            <label for="inputOld" class="col-lg-2 control-label">Senha Antiga</label>
                                            <div class="col-lg-10">
                                                <input type="password" class="form-control" id="inputOld" placeholder="Senha Antiga">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputNew" class="col-lg-2 control-label">Nova senha:</label>
                                            <div class="col-lg-10">
                                                <input type="password" class="form-control" id="inputOld" placeholder="Nova senha">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputConfer" class="col-lg-2 control-label">Repita a senha:</label>
                                            <div class="col-lg-10">
                                                <input type="password" class="form-control" id="inputConfer" placeholder="Repita">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-10 col-lg-offset-2">
                                                <button type="reset" class="btn btn-default">Cancelar</button>
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% if app.user.roles[0] == 'ROLE_COMPANY' %}
                                <div class="tab-pane active" id="products">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_start(form_product) }}
                                            {{ form_widget(form_product) }}
                                            {{ form_end(form_product) }}  
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
{% block javascripts %}
    {{ parent() }}
    {#    <script src="{{ asset('bundles/social/js/friends.js') }}"></script>#}
    <script src="{{ asset('bundles/social/js/global.js') }}"></script>
{% endblock javascripts %}