{% extends '::login.base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/social/css/tabs.css') }}" rel="stylesheet" />
{% endblock %}
{% block container %}
    <div class="container">
        <div class="jumbotron row" style="background: #fff">
            <div class="col-md-6">
                <div class="tabbable-panel" style="border: none; padding: 0px;">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_default_1" data-toggle="tab">Cliente</a>
                            </li>
                            <li>
                                <a href="#tab_default_2" data-toggle="tab">Empresa</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                {{ form_start(form_client) }}
                                {{ form_widget(form_client) }}
                                {{ form_end(form_client) }}
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                {{ form_start(form_company) }}
                                {{ form_widget(form_company) }}
                                {{ form_end(form_company) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                
            </div>

        </div>
    </div>
{% endblock container %}